{# #######################################################################
# Nom du fichier: ajouter_tuteur_stage.html.twig
# Description: Ajouter un tuteur de stage
# Auteurs: Emilie Le Rouzic, Thibault Tanné
# Date de création: avril 2024
# Version: 1.0
####################################################################### #}
{% extends 'back/base_back.html.twig' %}

{% block title %}Ajouter un tuteur{% endblock %}

{% block body %}
    <h1>Ajouter un Tuteur Isen</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}