{# #######################################################################
# Nom du fichier: ajouter_stage.html.twig
# Description: Ajouter un stage
# Auteurs: Emilie Le Rouzic, Thibault Tanné
# Date de création: avril 2024
# Version: 1.0
####################################################################### #}
{% extends 'back/base_back.html.twig' %}

{% block title %}Ajouter un stage{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/form.css') }}"> {% endblock %}
{% block body %}
    <h1>Ajouter un stage</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}