{% extends 'back/base_back.html.twig' %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/importcsv.css') }}"> {% endblock %}

{% block title %}import csv{% endblock %}

{% block body %}
    <h1> importer un fichier csv <p>il faut que le fichier soit en UTF8</p></h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}


{% endblock %}