{# #######################################################################
# Nom du fichier: csv_import.html.twig
# Description: Importer un fichier CSV
# Auteurs: Emilie Le Rouzic, Thibault Tanné
# Date de création: avril 2024
# Version: 1.0
####################################################################### #}
{% extends 'back/base_back.html.twig' %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/importcsv.css') }}"> {% endblock %}

{% block title %}importer un fichier csv{% endblock %}

{% block body %}
    <h1> importer un fichier csv <p>il faut que le fichier soit en UTF8</p></h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}


{% endblock %}