/**************************************************************************
* Nom du fichier: index.css
* Description: feuille de style pour la page d'accueil du site
* Auteurs: Emilie Le Rouzic, Thibault Tanné
* Date de création: avril 2024
* Version: 1.0
**************************************************************************/
@import url('nav_footer.css');

h1 {
    padding: 1rem;
    color: var(--couleur-texte);
    background-color: var(--couleur-principale);
    width: fit-content;
    border-radius: 15px;
    text-align: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

form#filterForm {
    margin-top: 1rem;
    display: flex;
    background-color: var(--couleur-principale);
    font-size: 12px;
    padding: 10px;
    border-radius: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

form label {
    display: none;
}

form input,
select {
    margin-right: 1rem;
    border-radius: 15px;
    border: none;
    text-align: center;
}

form .groupe-filtre {
    width: 100px;
}

form .annee-filtre {
    width: 80px;
}

form input[type="submit"],
button {
    background: var(--couleur-bouton);
    width: 100px;
    border: solid 1px var(--couleur-blanc);
    color: var(--couleur-texte);
    font-weight: bold;
    transition: ease-in-out 0.5s;
}

button {
    background: var(--couleur-bouton);
    width: 100px;
    border: solid 1px var(--couleur-blanc);
    color: var(--couleur-texte);
    font-weight: bold;
    transition: ease-in-out 0.5s;
    border-radius: 15px;
}

#paginationButtons button {
    width: fit-content;
    background-color: var(--couleur-principale);
}

#paginationButtons button.active {
    background-color: var(--couleur-croix);
    color: var(--couleur-blanc);
}

#paginationButtons button,
#paginationButtons span {
    margin-right: 5px;
}

#paginationButtons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem
}

button:hover {
    background: var(--couleur-texte);
    border: solid 1px var(--couleur-blanc);
    color: var(--couleur-blanc);
    font-weight: bold;

}

table {
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;/* Fusionner les bordures des cellules */
    border-radius: 10px;
    overflow: hidden;/* Cacher les éléments qui dépassent de la zone définie par le radius */

}

table th {
    background-color: var(--couleur-bouton);
    color: var(--couleur-blanc);
    font-weight: bold;
    padding: 10px
}

table tr:nth-child(odd) {
    background-color: var(--couleur-ligne-tableau);/* Couleur de fond pour les lignes impaires */
}

table td {
    color: var(--couleur-texte);
    text-align: center;
}

.lignetableau {
    transition: ease-in-out 0.2s;
}

.lignetableau:hover {
    background-color: var(--couleur-survol-tableau);
}

.croix {
    width: fit-content;
    background-color: var(--couleur-croix);
    margin-left: 10px;

    right: 15px;
}

.fichedetailcroix {
    position: absolute;
}

#detailsDiv {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
}

.fichedetail {
    position: relative;
    background: var(--couleur-principale);
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    border-radius: 30px;
    padding: 1rem;
    height: 0px;/* Définir la hauteur à 0 par défaut */
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;/* Ajouter une transition pour l'opacité et la hauteur */
}

.fichedetail.active {
    opacity: 1;/* Mettre l'opacité à 1 pour rendre la div visible */
    height: fit-content;
}

.fichedetail span {
    font-weight: 600;
}

table thead th {
    position: relative;
    padding-bottom: 20px;
}

table thead th span {
    color: var(--couleur-texte);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: none;
    border: none;
    border-radius: none;

}

table thead th:hover span {
    background: none;
    border-radius: none;
    border: none;
    width: 100%;
    color: var(--couleur-blanc);
}

.commentaire_etat {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}