/**************************************************************************
* Nom du fichier: nav_footer.css
* Description: feuille de style pour le footer et le header
* Auteurs: Emilie Le Rouzic, Thibault Tanné
* Date de création: avril 2024
* Version: 1.0
**************************************************************************/
:root {
    --couleur-principale: #DCBFD9;
    --couleur-texte: #543951;
    --couleur-blanc: white;
    --couleur-survol: black;
    --couleur-bouton: #B082AC;
    --couleur-ligne-tableau: #c0a2bdac;
    --couleur-survol-tableau: rgba(139, 58, 139, 0.552);
    --couleur-croix: #ee6e73;
    --couleur-claire: #cde5ff70;
    --couleur-foncee: #a7c0d47d;
    --couleur-tableau-valid-claire: #cde5ffb9;
    --couleur-tableau-valid-foncee: #a7c0d4b9;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: var(--couleur-principale);
    color: var(--couleur-texte);
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 80px;
}

header nav ul {
    display: flex;
    flex-direction: row;
}

header nav ul li {
    list-style: none;
    margin-left: 20px;
    position: relative;
}

header nav ul li a::after {
    position: absolute;
    z-index: -1;
    align-self: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 0px 0px 15px 15px;
    background: var(--couleur-principale);
    transition: transform 0.5s;
}

header nav ul li a.active::after {
    transform: translate(-50%, 80%);
}

header nav ul li a:hover::after {
    transform: translate(-50%, 80%);
}

header nav ul li a {
    position: relative;
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    color: var(--couleur-texte);
    transition: color 0.3s;
}

header nav ul li a:hover {
    text-decoration: none;
    color: var(--couleur-survol);
}

.content {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: var(--couleur-principale);
    color: var(--couleur-texte);
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

footer p {
    font-weight: 500;
}