/**************************************************************************
* Nom du fichier: stats.css
* Description: feuille de style pour la page des statistiques
* Auteurs: Emilie Le Rouzic, Thibault Tanné
* Date de création: avril 2024
* Version: 1.0
**************************************************************************/
@import url('nav_footer.css');
#myChart{
    max-width: 30vw;
    max-height: 30vh;
}
.piecontent{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topEntreprise{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.topEntreprise h3 , .graphstatmois h3 {
    font-size: 20px;
    padding: 1rem;
    color: var( --couleur-texte);
    text-align: center;
}
.topEntreprise ul li{
    list-style-type: none;
    color: var( --couleur-texte);
}
.topEntreprise ul {
    border: solid 3px var( --couleur-principale);
    padding: 1rem;
    border-radius:15px;
    padding-bottom: 0;
}
.topEntreprise span{
    font-weight:800;
}
#listTuteur li.hidden, #listentreprise li.hidden{
    display :none;
}

.afficherplus{
    width: 100%;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.afficherplus img {
    max-width: 40px;
}