<a class = "bouton-ajouter" href="/back/ajouter-entreprise">Ajouter une entreprise</a>
<table  class ="backtableau">
  <thead>
    <tr>
      <th>Nom</th>
    </tr>
  </thead>
  <tbody>
{% for entreprise in entreprises %}
    <tr>
      <td> {{ entreprise.nom }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>