<script src="{{ asset('js/pagination.js') }}"></script>
<a class = "bouton-ajouter" href="/back/ajouter-entreprise">Ajouter une entreprise</a>
<table  class ="backtableau" >
  <thead>
    <tr>
      <th>Nom</th>
    </tr>
  </thead>
  <tbody id="tableBody">
{% for entreprise in entreprises %}
    <tr>
      <td> {{ entreprise.nom }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div id="paginationButtons"></div>

<script>

// Appeler la fonction paginer pour afficher la première page lors du chargement de la page
document.addEventListener("DOMContentLoaded", function() {
    paginer(1);
});

</script>